    .MobileButtonMenu .sapMBtnInner {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        border: none;
    }
    .MobileButtonMenu .sapMIBar.sapMTB-Info-CTX .sapMBtnIcon.sapUiIcon, 
    .MobileButtonMenu .sapUiSizeCompact .sapMBtnIcon.sapUiIcon, 
    .MobileButtonMenu .sapMBtnIcon.sapUiIcon {
        font-size: 1.25rem;
        color: #324153;
        line-height: 2.5rem;
        width: 2.5rem;
        background-color: #F0F5FB;
        border-radius: 50%;
    }
    .MobileButtonMenu.sapMBtn:focus-visible>.sapMFocusable:not(.sapMBadgeIndicator)::before, html.sap-desktop .sapMBtn:focus>.sapMFocusable:not(.sapMBadgeIndicator)::before{
        border: none;
    }



    .MobileMoveableButton{
        transition: transform 0.7s ease-in-out;
        display: inline-block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: -.8rem;
    }
    .MobileMoveableButton .sapMIBar.sapMTB-Info-CTX .sapMBtn, 
    .MobileMoveableButton .sapUiSizeCompact .sapMBtn, 
    .MobileMoveableButton .sapMBtn{
        height: 3rem;
    }
    .MobileMoveableButton .sapMIBar.sapMTB-Info-CTX .sapMBtnIcon.sapUiIcon, 
    .MobileMoveableButton .sapUiSizeCompact .sapMBtnIcon.sapUiIcon, 
    .MobileMoveableButton .sapMBtnIcon.sapUiIcon {
        font-size: 1.5rem;
        color: #324153;
        line-height: 3rem;
        width: 3rem;
    }
    
    .MobileMoveableButton .sapMBtnInner {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
    }
    .MobileMoveableButton.sapMBtn:focus-visible>.sapMFocusable:not(.sapMBadgeIndicator)::before, html.sap-desktop .sapMBtn:focus>.sapMFocusable:not(.sapMBadgeIndicator)::before{
        border: none;
    }


    .MobileFlatButton .sapMBtnInner{
        height: 0.3rem;
    }
    .MobileFlatButton.sapMBtn{
        height: 0;
    }
    .MobileApproveButton .sapMBtnInner{
        color: var(--Text-Color, #27292b);
        font-family: Rubik;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        border-radius: 1rem;
        min-width: 8rem;
    }
    .MobileDarkButton .sapMBtnInner{
        background-color: var(--Text-Color, #27292b);
        color: #F0F5FB;
        font-family: Rubik;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        border-radius: 1rem;
        min-width: 8rem;
    }

    
    .MobileActionButton .sapMBtnBack, 
    .MobileActionButton .sapMBtnTransparent {
        font-size: 1.3rem;
        color: #27292B;
        -webkit-text-stroke: .5px;
    }
    .MobileActionButton :not(.sapMBtnDisabled).sapMBtnBack>.sapMBtnIcon,
    .MobileActionButton :not(.sapMBtnDisabled).sapMBtnTransparent>.sapMBtnIcon, 
    .MobileActionButton :not(.sapMBtnDisabled).sapMBtnGhost>.sapMBtnIcon {
        color: #27292B;
    }
    .MobileActionButton.sapMBtn:hover:not(.sapMBtnDisabled)>.sapMBtnHoverable.sapMBtnTransparent:not(.sapMBtnActive):not(.sapMToggleBtnPressed)>.sapMBtnIcon,
    .MobileActionButton *.sapMBtn:hover:not(.sapMBtnDisabled)>span.sapMBtnInner.sapMBtnTransparent:not(.sapMBtnActive):not(.sapMToggleBtnPressed)>.sapMBtnIcon,
    .MobileActionButton:not(.sapMBtnDisabled):not(.sapMSBActive)>span.sapMBtnInner.sapMBtnTransparent:not(.sapMBtnActive):not(.sapMToggleBtnPressed):hover>.sapMBtnIcon {
        color: #27292B;
    }