.MobilePanel .sapMPanelHdr{
        color: var(--Text-Color, #27292b);
        font-family: Rubik;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
    }
    .MobilePanel .sapMPanelContent {
        padding: 0rem 1rem 0rem 1rem;
    }
    .MobilePanel .sapMPanelWrappingDiv .sapUiIcon {
        right: auto;
        left: 0;
        position: absolute;
        color: var(--Text-Color, #27292b);
        font-size: 1rem;
    }

    .MobilePanel .sapMPanelWrappingDiv, .MobilePanel .sapMPanelWrappingDiv:active, .MobilePanel .sapMPanelWrappingDiv:focus {
        padding-right: 0rem;
        background-color:  #F0F5FB;
        outline: none;
        border: 1px;
        border-style: solid;
        border-color: var(--Sky-Blue, #d7eafc);        
    }
    .MobilePanel .sapMPanelWrappingDiv:not(.sapMPanelWrappingDivExpanded){
        border-radius: .5rem;
        box-shadow: 0px 4px 24px var(--Sky-Blue, #d7eafc);
    }
    .MobilePanel .sapMPanelWrappingDiv:is(.sapMPanelWrappingDivExpanded){
        border-top-right-radius: .5rem;
        border-top-left-radius: .5rem;
    }
    .MobilePanel .sapMPanelContent:not(.sapMPanelBGTransparent) {
        background-color:  #F0F5FB;
        border-bottom-right-radius: .5rem;
        border-bottom-left-radius: .5rem;
        box-shadow: 0px 4px 24px var(--Sky-Blue, #d7eafc);
    }
    