.MoblieTimePicker .sapMInputBaseInner {
    background: transparent;
    border: none;
    font-style: normal;
    font-size: 0.9rem;
    font-family: Rubik;
    line-height: normal;
    padding: 0 0.625rem;
    height: 100%;
    box-sizing: border-box;
    min-width: 2.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: inherit;
}
.MoblieTimePicker .sapMInputBaseContentWrapper {
    border: 1px solid #D7EAFC;
    background: #ffffff;
    border-radius: 0.125rem;
}