@import url("Elements/Button.css");
@import url("Elements/Calendar.css");
@import url("Elements/DatePicker.css");
@import url("Elements/FileUploader.css");
@import url("Elements/Menu.css");
@import url("Elements/MessageStrip.css");
@import url("Elements/Panel.css");
@import url("Elements/SegmentButton.css");
@import url("Elements/Select.css");
@import url("Elements/Switch.css");
@import url("Elements/TextArea.css");
@import url("Elements/TimePicker.css");
@import url("Elements/ToggleButton.css");

.MobileMainContainer {
  height: 100%;
  width: 100%;
}
.MainScreenClock{
    height: 100%;
}
.sapMListBGSolid .sapMLIB:not(.sapMLIBActive):not(.sapMLIBSelected):not(:hover){
    background: none;
}
@media all and (orientation:portrait) {
    .MainScreenClock .sapMLIB{
        background: transparent;
        height: 100%;
        border-bottom: none;
        align-items: baseline;
        margin-top: 4vw;
    }
    .MainScreenClock .sapMListUl{
        height: 100%;
    }
    .MobileClockCircle{
        width: 80vw;
        height: calc(80vw); 
        border-radius: 50%;
        border-width: 7.5vw;
        border-style: solid;
        border-color: #D7EAFC;
        color: #F0F5FB;
    }
    .MobileClockCircleExit{
        width: 80vw;
        height: calc(80vw); 
        border-radius: 50%;
        border-width: 7.5vw;
        border-style: solid;
        border-color: #BFFFEA;
        color: #F0F5FB;
    }

    .MobileClockCircleInner{
        width: 65vw;
        height: calc(65vw); 
        border-radius: 50%;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 34px #728AA766;
    }

}
@media all and (orientation:landscape) {
    .MainScreenClock .sapMLIB{
        background: transparent;
        height: 100%;
        border-bottom: none;
        align-items: baseline;
        margin-top: 2vh;
    }
    .MainScreenClock .sapMListUl{
        height: 100%;
    }
    .MobileClockCircle{
        width: 80vh;
        height: calc(80vh); 
        border-radius: 50%;
        border-width: 7.5vh;
        border-style: solid;
        border-color: #D7EAFC;
        color: #F0F5FB;
    }
    .MobileClockCircleExit{
        width: 80vh;
        height: calc(80vh); 
        border-radius: 50%;
        border-width: 7.5vh;
        border-style: solid;
        border-color: #BFFFEA;
        color: #F0F5FB;
    }
    .MobileClockCircleInner{
        width: 65vh;
        height: calc(65vh); 
        border-radius: 50%;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 34px #728AA766;
        
    }
}

    .MobileFooterBox{
        border-top-left-radius: 2.2rem;
        border-top-right-radius: 2.2rem;
        background-color: #324153;
        width: 100%;
        position: fixed;
        bottom: 0;
        
    }
    .MobileFooterBody{
        width: 100%;
        height: 8vh;
        border-radius: 1rem;
        background: linear-gradient(90deg, rgba(239, 247, 255, 0.1) 0%, rgba(249, 252, 255, 0.1) 100%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.6rem;
        padding: 1.1rem;
    }
    .MobileFooterBodySmall{
        width: 100%;
        height: 5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }


    .MobileHeaderBar{
        padding: 1rem;
    }

    .MobileMenuRow.sapMLIB{
        justify-content: flex-end;
        background: transparent;
        border: none;
    }
    .MobileMenuRow .sapUiSizeCompact .sapMSLITitle, 
    .MobileMenuRow .sapUiSizeCompact .sapMSLITitleOnly, 
    .MobileMenuRow .sapMSLITitleOnly, 
    .MobileMenuRow .sapMSLITitle {
        font-size: 1.2rem;
        font-family: 'Rubik';
        font-weight: 500;
        color: #27292B;
    }

    .MobileActionMenuRow.sapMLIB{
        justify-content: flex-end;
        background: transparent;
        border: none;
    }
    .MobileActionMenuRow .sapUiSizeCompact .sapMSLITitle, 
    .MobileActionMenuRow .sapUiSizeCompact .sapMSLITitleOnly, 
    .MobileActionMenuRow .sapMSLITitleOnly, 
    .MobileActionMenuRow .sapMSLITitle {
        font-size: .9rem;
        font-family: 'Rubik';
        font-weight: 500;
        color: #27292B;
    }
    .MobileActionMenuRow .sapUiSizeCompact .sapMSLIImgIcon, 
    .MobileActionMenuRow .sapUiSizeCompact .sapMSLIImgNoInsetIcon, 
    .MobileActionMenuRow .sapMSLIImgIcon, 
    .MobileActionMenuRow .sapMSLIImgNoInsetIcon{
        font-size: 1.3rem;
        color: #27292B;
        margin-left: 0.75rem;
        -webkit-text-stroke: .5px;
    }
    .MobileActionMenuRow .sapMSLIImg{
        height: 2rem;
        width: 2rem;
    }

    .MobileReasonRow .sapUiSizeCompact .sapMSLITitle, 
    .MobileReasonRow .sapUiSizeCompact .sapMSLITitleOnly, 
    .MobileReasonRow .sapMSLITitleOnly, 
    .MobileReasonRow .sapMSLITitle {
        font-size: .9rem;
        font-family: 'Rubik';
        font-weight: 400;
        color: #27292B;
    }    
    .MobileReasonRow{
        border-bottom: none;
    }
    .MobileReasonRow.sapMLIB.sapMLIBSelected {
        background: var(--Sky-Blue, #d7eafc);
        border-radius: 1rem;
        border-bottom: unset;
    }
    

    
    .MobileMonthRow{
        margin-bottom: .5rem;
    }
    .MobileEntryRow{
        line-height: 2rem;     
        border-bottom: none;   
    }
    .MobileMonthRowDayItemHeader{
        padding-left: .5rem;
        padding-right: .5rem;
        background-color: #EFF7FE;
        height: 2.5rem;
    }
    .MobileMonthRowDayItem{
        padding-left: .5rem;
        padding-right: .5rem;
        background-color: #ffffff;
    }
    .MobileLabelText {
        font-size: .9rem;
        font-family: 'Rubik';
        font-weight: 400;
        color: #27292B;
    }
    .MobileLabelTextBold {
        font-size: .9rem;
        font-family: 'Rubik';
        font-weight: 500;
        color: #27292B;
    }
    .MobileLabelTextEmphasize{
        font-size: .9rem;
        font-family: 'Rubik';
        font-weight: 400;
        color: #27292B;
        background: #E7F3FF;
        border-radius: .5rem;
        margin: .5rem;
        padding: .5rem;
    }
    .MobileLabelTextEmphasizeGreen{
        font-size: .9rem;
        font-family: 'Rubik';
        font-weight: 400;
        color: #27292B;
        background: #D5F9F3;
        border-radius: .5rem;
        margin: .5rem;
        padding: 0 .5rem 0 .5rem;
    }
    .MobileLabel2Text {
        font-size: 1.1rem;
        font-family: 'Rubik';
        font-weight: 400;
        color: #27292B;
    }
    .MobileLabel2TextBold {
        font-size: 1.1rem;
        font-family: 'Rubik';
        font-weight: 500;
        color: #27292B;
    }


    .MobileMenuFooter{
        background-color: #FFFFFF;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        height: 16%;
        width: 100%;
        padding-top: 1rem;
        padding-right: 2rem;
        padding-left: 2rem;
        position: fixed;
        bottom: 0;
    }
    .MobileDetailsDialogHeader{
        background-color: #FFFFFF;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        height: 16%;
        width: 100%;
        padding-top: 1rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .MobileDetailsDialogBody{
        background-color: white;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        padding-top: 1rem;
        min-height: 60vh;
    }
    
    .MobileDetailsDialog{
        direction: rtl;
        background-color: transparent;
        top: unset !important;
    }
    .MobileDetailsDialog .sapMDialog {
        background-color: transparent;
    }
    .MobileDetailsDialog .sapUiSizeCompact.sapMDialog>.sapMDialogSection,
    .MobileDetailsDialog .sapUiSizeCompact .sapMDialog>.sapMDialogSection,
    .MobileDetailsDialog.sapMDialog>.sapMDialogSection{
        align-content: end;
        background-color: transparent !important;
    }
    
    .MobileDetailsDialog .sapMDialogScroll, .sapMDialogScrollCont.sapMDialogStretchContent {
        height: auto !important;
    } 
    .MobileDetailsDialog.sapMDialog.sapUiPopupWithPadding:not(.sapUiNoContentPadding) .sapMDialogScrollCont{
        padding: unset;
    } 

    .MobileDetailsImage{
        width: 2rem;
        height: 2rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: 1px solid var(--Sky-Blue, #d7eafc);
        background: var(--Pure-White, #fff);
        box-shadow: 0 14px 36px 0 rgba(106, 168, 255, 0.16);
    }
    .MobileDetailsAvatar{
        width: 4rem;
        height: 4rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: 1px solid var(--Sky-Blue, #d7eafc);
        background: var(--Pure-White, #fff);
        box-shadow: 0 14px 36px 0 rgba(106, 168, 255, 0.16);
    }
    .MobileDetailsItem{
        width: 100%;
        justify-content: space-between;
        border-radius: 0.5rem;
        background: var(--Background-Blue, #eff7fe);
        height: 3rem;
        padding: 1rem;
    }
    .MobileDetailsItemDescriptionText{
        color: var(--Text-Color, #27292b);
        text-align: right;
        font-family: Rubik;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .MobileDetailsItemValueText{
        color: var(--Text-Color, #27292b);
        text-align: right;
        font-family: Rubik;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .MobileMediumText {
        color: var(--Text-Color, #27292b);
        text-align: right;
        font-family: Rubik;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
    }
    
    
    .MobilePopover{
        border-radius: .5rem;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }
    .MobilePopover .sapMPopoverArr:after {
        background: #ffffff;
        box-shadow: 5px -5px 20px rgba(0, 0, 0, 0.5);
    }
    .MobilePopover .sapMSLI.sapMSLIThumbnail, 
    .MobilePopover .sapMSLI.sapMSLINoIconInset, 
    .MobilePopover .sapMSLI.sapMSLIWithDescription, 
    .MobilePopover .sapMSLI.sapMSLINoTitleAdapt {
        height: 2.75rem;
    }


    .MobileTotalPanel{
        padding: 1rem;
        margin: 1rem;
        background: #3E5066;
        border-radius: .5rem;
        max-height: 20rem;
        transition: width 0.5s, height 0.5s;
    }
    
    .MobileTotalPanelDivider{
        border-top: 1px solid #627D9E;
    }
    .MobileSmallFooterText.sapMLabel{
    color: var(--Pure-White, #fff);
    /* Menu items */
    font-family: Rubik;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
    .MobileSmallFooterText.sapMText{
    color: var(--Pure-White, #fff);
    /* Menu items */
    font-family: Rubik;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    